@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
body, html {
	position: relative;
	height: 100%; 
	width : 100%;  
	margin: 0;
  background-color: #eccdcd;
}

.circle {
	position: absolute;
  border: solid 1px #575151;
	width: 60px; 
	height: 60px; 
  border-radius: 50%;  
}